.navbar {
  display: flex;
  background-color: #e0d6b3;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  width: 100vw;
  margin-bottom: 10px;
}

.navbar > a {
  color: #741c16;
  text-decoration: none;
  position: relative;
}

.navbar > a:hover {
  color: #5F7A1E
}

.navbar > a > span {
  position: absolute;
  top: -15px;
  background-color: #741c16;
  font-size: 15px;
  color: #e0d6b3;
  padding: 3px 5px 3px 5px;
  border-radius: 50%;
}

